# =================================================================
# الاعتماديات والمكتبات الخارجية (Dependencies & Vendor Libraries)
# =================================================================
# تجاهل المجلد الذي يحتوي على مكتبات PHP التي يتم تثبيتها عبر Composer
/vendor/
# تجاهل المكتبات الخارجية الخاصة بالقالب
/app-assets/vendors/

/upload

# Environment variables file
/.env
/vendor
/.env
/api/uploads/*
!/api/uploads/.gitkeep
/database backup
.DS_Store
.idea
.vscode
# Composer dependencies
/vendor/