# =================================================================
# الاعتماديات والمكتبات الخارجية (Dependencies & Vendor Libraries)
# =================================================================
# تجاهل المجلد الذي يحتوي على مكتبات PHP التي يتم تثبيتها عبر Composer
/vendor/

/api/uploads/
/web-api/uploads/
/uploads/


# =================================================================
# ملفات خاصة بالبيئة والخادم وقاعدة البيانات
# =================================================================
# تجاهل ملفات الإعدادات الخاصة بالخادم وملفات تفريغ قاعدة البيانات
/.user.ini
/php.ini
/the-doctor (database).sql

# Environment variables file
/.env
/.exclude

# Composer dependencies
/vendor/

/database_backup