# =================================================================
# الاعتماديات والمكتبات الخارجية (Dependencies & Vendor Libraries)
# =================================================================
# تجاهل المجلد الذي يحتوي على مكتبات PHP التي يتم تثبيتها عبر Composer
/vendor/
# تجاهل المكتبات الخارجية الخاصة بالقالب
/app-assets/vendors/



# Environment variables file
/.env

# Composer dependencies
/vendor/