Options -MultiViews
RewriteEngine On
RewriteBase /

# توجيه API
RewriteCond %{REQUEST_URI} ^/api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ api/index.php [QSA,L]

# توجيه Web-API
RewriteCond %{REQUEST_URI} ^/web-api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^web-api/(.*)$ web-api/index.php [QSA,L]

# توجيه الموقع الرئيسي
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]