:root {
  --main-color: #0093c9;
  --second-color: #fabf35;
  --darker-text: #000;
  --lighter-text: #6b6b6b;
  --dark-icons-color: #000;
  --light-icons-color: #fff;
  --header-height: 80px;
  --vertical-lineup: 35px;
}
/* Font Face */
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  overflow-x: hidden;
}
a:hover {
  color: inherit;
}
svg {
  width: 22px;
  height: 22px;
}
svg.line {
  stroke: var(--dark-icons-color);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}
svg.svg-c * {
  fill: var(--dark-icons-color);
  stroke: var(--dark-icons-color);
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1400px;
}

.form-select {
  background-size: 18px 15px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgb(0 147 201)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
.modal-header {
  border: 0;
}
.modal-content {
  border-radius: 15px;
  border: 0;
}
/* Loader */
#loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader svg {
  fill: var(--main-color);
  width: 80px;
  height: 30px;
}

.section-title {
  font-size: 25px;
  font-weight: 600;
  color: var(--lighter-text);
  margin-bottom: var(--vertical-lineup);
}
form button {
  transition: opacity 0.2s !important;
}
form button:hover {
  opacity: 0.7;
  color: #fff !important;
}

.select2-container {
  width: 100% !important;
  margin: 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
}
.select2-container--classic .select2-selection--single,
.select2-container--default .select2-selection--single {
  min-height: 44px;
  border: 1px solid #d8d6de;
  border-radius: 8px;
  padding: 9px 15px;
  font-size: 15px;
  color: var(--lighter-text);
  box-shadow: 0 0 8px rgb(0 0 0 / 5%);
}
.select2-container--classic
  .select2-selection--single
  .select2-selection__arrow
  b,
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23d8d6de' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 18px 14px, 18px 14px;
  background-repeat: no-repeat;
  height: 2rem;
  padding-right: 1.5rem;
  margin-left: 0;
  margin-top: 0;
  left: -8px;
  border-style: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  line-height: 26px;
}
/* Header */
.header {
  height: var(--header-height);
  border-bottom: 1px solid #ddd;
  justify-content: center;
}
.head_buttons {
  width: auto;
}
.close_nav,
.menu_nav {
  display: none;
}
.logo {
  width: max-content;
  max-width: 140px;
}
.logo img {
  width: -webkit-fill-available;
}

/* header button and URI's */
.head_buttons a {
  margin-right: 8px;
  text-decoration: none;
  color: inherit;
  transition: ease-in-out 0.3s;
}
.head_buttons a svg {
  width: 25px;
  height: 25px;
  transition: ease-in-out 0.3s;
}
.head_buttons a:hover svg.line {
  stroke: var(--main-color);
  transform: translateY(-3px);
}
.shopping_cart svg path {
  fill: var(--dark-icons-color);
  transition: ease-in-out 0.3s;
}
.shopping_cart:hover svg path {
  fill: var(--main-color);
  transform: translateY(-3px);
}

/* Menu */
ul.htmlMenu,
.htmlMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.htmlMenu li a {
  text-decoration: none;
  color: var(--darker-text-color);
  padding: 7px 12px;
  transition: ease 0.2s;
  width: max-content;
}
.htmlMenu > li {
  position: relative;
}
.htmlMenu > li:before {
  content: "";
  opacity: 0;
  visibility: hidden;
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--main-color);
  position: absolute;
  bottom: -20px;
  transition: ease-in-out 0.2s;
}
.htmlMenu > li:hover:before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.htmlMenu li a.has-sub {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.htmlMenu svg.has-sub {
  position: relative;
  z-index: 999 !important;
}
.htmlMenu li a.has-sub:after {
  content: "";
  display: block;
  margin-left: 8px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="rgb(0 147 201)" ><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"/></svg>');
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  margin-bottom: 2px;
  transition: ease-in-out 0.3s;
}
.parentChild-Category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.parentChild-Category a {
  width: -webkit-fill-available;
}
.parentChild-Category svg {
  width: 25px;
  height: 15px;
  transform: rotate(-90deg);
  margin: 0px 5px;
  transition: ease 0.3s all;
}
.htmlMenu li a.has-sub.open:after {
  transform: rotate(0deg);
}
.htmlMenu .level-two li a {
  font-weight: 500;
}
.htmlMenu .level-two li:hover {
  background-color: #f2f2f2;
}
.htmlMenu .level-two li a.has-sub:after {
  margin-left: auto;
  margin-bottom: 0;
}
.htmlMenu .level-three li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 55px;
}
.level-two,
.level-three {
  display: none;
  position: absolute;
  top: calc(var(--header-height) - 20px);
  background: #fff;
  border: 1px solid #ddd;
  z-index: 11;
  border-top: 0;
  min-width: 170px;
  line-height: calc(var(--vertical-lineup) + 5px);
}
.level-three {
  left: 100%;
  top: 0;
}
.htmlMenu li .menu-child a.has-sub:after {
  content: none;
}
/* Search */
.search .form-control {
  background-color: #f8f8f8;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 8px;
}
.search .btn {
  background-color: var(--main-color);
  border-radius: 8px;
  padding: 0 8px;
  height: 40px;
  line-height: 1;
  width: 40px;
  display: block;
}
.search .btn svg.line {
  stroke: var(--light-icons-color);
  width: 24px;
  height: 24px;
}
.search_button {
  display: none;
}
/* Owl Nav */
.owl-theme .owl-nav button.disabled {
  visibility: hidden;
  opacity: 0;
}
.owl-dots {
  display: none;
}
.owl-theme .owl-nav button {
  background-color: #fff !important;
  position: absolute;
  top: 45%;
  margin: 0 !important;
  transition: ease-in-out 0.2s;
  box-shadow: 0 0 20px rgb(0 0 0 / 25%);
}
.owl-theme .owl-nav button.owl-next {
  right: 0;
  padding: 7px 0 7px 3px !important;
  border-radius: 20px 0 0 20px;
}
.owl-theme .owl-nav button.owl-prev {
  left: 0;
  padding: 7px 3px 7px 0 !important;
  border-radius: 0 20px 20px 0;
}
.owl-theme .owl-nav button svg {
  fill: var(--main-color);
  width: 30px;
  height: 30px;
}

/* Footer */
footer {
  border-top: 1px solid #ccc;
}
footer .row > * {
  padding: 0 20px;
}
.upper_part {
  padding-bottom: var(--vertical-lineup);
  padding-top: calc(var(--vertical-lineup) + 15px);
}
.about img {
  margin-bottom: var(--vertical-lineup);
  max-width: 350px;
  min-width: 170px;
}
.about p {
  font-size: 14px;
  line-height: 28px;
}
.link_list h2 {
  font-size: 18px;
  margin-bottom: calc(var(--vertical-lineup) - 10px);
  font-weight: 600;
}
.link_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link_list ul li {
  margin: calc(var(--vertical-lineup) - 22px) 0;
}
.link_list ul li a {
  font-size: 14px;
  color: var(--darker-text);
}
.link_list ul li:hover a,
.allright a:hover {
  color: var(--main-color);
}
.credit {
  padding: 27px 0;
  border-top: 3px solid #ccc;
}
.allright p {
  margin: 0;
  margin-left: 15px;
}
.allright a {
  font-weight: 600;
}
.follow_us ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.follow_us ul li {
  width: 33.33%;
  margin-right: 15px;
}
.follow_us ul li a svg.line {
  transition: ease-in-out 0.2s;
}
.follow_us ul li:hover a svg.line {
  transform: translateY(-3px);
  stroke: var(--main-color);
}

/* Chat Button */
.chat_button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 3;
  padding: 3px 4px;
  border-radius: 8px;
}
.chat_button svg {
  width: 40px;
  height: 40px;
  fill: var(--main-color);
}
.chat_button p {
  font-size: 19px;
  font-weight: 500;
  color: var(--main-color);
  margin-top: 7px;
  margin-bottom: 0;
}
/* Responsive */
@media (max-width: 1200px) {
  .search_button {
    display: block;
  }
  .search {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: ease-in-out 0.2s;
  }
  .search .form-control {
    width: 40%;
    height: 40px;
  }
  .cates_list {
    width: 50%;
  }
  .search_button svg.line {
    width: 25px;
    height: 25px;
    margin: 0 15px 0 0;
  }
  .search.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  .search.show .search_cls {
    background-color: rgb(0 0 0 / 35%);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 12;
  }
  .search .form-control,
  .search .btn {
    z-index: 13;
  }
}

/* Lazy Youtube */
.lazyYoutube {
  background: #ddd
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 50 50'><path d='M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z' fill='rgba(0,0,0,.2)'><animateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/></path></svg>")
    center / 50px no-repeat;
  position: relative;
  overflow: hidden;
  transition: ease-in-out 1s;
}

.lazyYoutube img {
  width: 100%;
  filter: brightness(0.8);
}

.lazyYoutube iframe {
  width: 100%;
  height: 245px;
  bottom: 0;
  right: 0;
}

.lazyYoutube .playBut {
  position: absolute;
  display: block;
  width: 55px;
  height: 55px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: all 0.5s ease;
}
.lazyYoutube .playBut svg {
  width: 55px;
  height: 55px;
  fill: var(--main-color);
  stroke: var(--main-color);
}
@-webkit-keyframes nudge {
  0% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  70% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes nudge {
  0% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  70% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}
.lazyYoutube .playBut:hover .triangle {
  animation: nudge 0.6s ease-in-out;
  -webkit-animation: nudge 0.6s ease-in-out;
}

@media (max-width: 1024px) {
  .logo img {
    max-width: 110px;
  }
}
@media (max-width: 991.99px) {
  .htmlMenu .level-two li:hover {
    background-color: transparent;
  }
  .credit {
    padding-bottom: 100px;
  }
  [data-aos^="fade"][data-aos^="fade"] {
    opacity: 1;
    transform: translate(0, 0);
  }
  .upper_part > div {
    width: 50%;
    margin-top: 25px;
  }
  .chat_button {
    bottom: 60px;
  }
  .logo {
    width: auto;
  }
  .close_nav,
  .menu_nav {
    display: block;
  }
  .search_button {
    display: none;
  }
  .menu_nav {
    margin-left: 5px;
    background-color: #f2f2f2;
    padding: 9px;
    border-radius: 50%;
  }
  .menu_nav svg.line {
    width: 27px;
    height: 27px;
    stroke: var(--main-color);
    stroke-width: 2.5;
  }
  .cates_list {
    display: block !important;
    background-color: #fff;
    position: fixed;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    bottom: 0;
    z-index: 100;
    max-width: 480px;
    width: 95% !important;
    box-shadow: 5px 0px 20px rgb(0 0 0 / 15%);
    padding-top: var(--vertical-lineup);
    transition: ease 0.2s;
  }
  .ofp {
    display: block !important;
    height: calc(100vh - 120px);
    overflow-y: scroll;
  }
  .cates_list.active {
    opacity: 1;
    visibility: visible;
    left: 0;
  }
  .search {
    position: absolute;
    bottom: 0;
    padding: 20px;
    border-top: 2px solid #ddd;
    left: 0;
    right: 0;
    z-index: 13;
    background-color: #fff;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    top: auto;
  }
  .search .form-control {
    width: 100%;
  }
  .htmlMenu > li {
    margin-bottom: 9px;
  }
  .htmlMenu > li:hover:before {
    opacity: 0;
    visibility: 0;
    width: 0%;
  }
  .level-two,
  .level-three {
    position: relative;
    top: 0 !important;
    padding-left: 25px !important;
    border: 0;
    min-width: auto;
  }
  ul.level-three {
    left: 0;
  }
  .close_nav {
    right: 25px;
    position: absolute;
    top: 15px;
    z-index: 13;
  }
  .close_nav svg.line {
    width: 30px;
    height: 30px;
    stroke: #202020;
  }
}
@media (max-width: 576px) {
  .upper_part > div {
    width: 100%;
  }
  .credit > div {
    flex-wrap: wrap;
    justify-content: center !important;
    flex-direction: column;
  }
  .allright {
    margin-bottom: 15px;
  }
}

/************ Header seller dashboard ***************/
ul.menu li.selected a {
  color: var(--main-color);
}
.messages_list,
.notification_list {
  background-color: #fff;
  z-index: 5;
  position: absolute;
  top: 90px;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
  border-radius: 25px;
  overflow: hidden;
  min-width: 370px;
  right: -100%;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.3s;
}
.messages_list.toggled,
.notification_list.toggled {
  opacity: 1;
  visibility: visible;
  top: 55px;
}

.messages_list ul,
.notification_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.messages_list ul .message,
.notification_list ul .notification {
  padding: 25px 15px;
  border-bottom: 1px solid #ccc;
}
.msg_img,
.notification_img {
  position: relative;
  width: 90px;
  height: 80px;
}
.message .msg_img img,
.notification .notification_img span {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
}
.notification .notification_img span {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.msg_info {
  width: calc(100% - 70px);
  line-height: 32px;
}
.msg_bottom {
  padding: 10px;
  background-color: #fff;
  line-height: 1;
}

/************ Header seller dashboard ***************/

/************ Header product ***************/
.product_tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.product_tabs ul li a.tab {
  padding: 10px 5px;
  margin: 0 5px;
  color: var(--darker-text);
  font-size: 18px;
  transition: ease 0.2s;
}
.product_tabs ul li a.tab.active {
  color: var(--main-color);
}
.pro_rel_but .button {
  margin: 0 7px;
}
.pro_rel_but .button svg.line {
  width: 28px;
  height: 28px;
  stroke-width: 1.8px;
  transition: ease-in-out 0.3s;
}
.pro_rel_but .button:hover svg.line {
  stroke: var(--main-color);
  transform: translateY(-3px);
}

/* Shoping Cart */
#collapseCart {
  position: absolute;
  top: 80px;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 10px 9px rgb(0 0 0 / 20%);
  border-bottom: 1px solid #ddd;
  z-index: 99;
}
.shoping-cart .title {
  font-size: 25px;
  font-weight: 700;
  color: var(--darker-text);
}
.items-list .table thead tr th {
  font-size: 20px;
  padding: 0 0 15px;
  font-weight: 500;
}
.table > :not(:last-child) > :last-child > * {
  border-color: inherit;
}
.item-cart th,
.item-cart td {
  padding: 25px 0;
}
.item-img {
  display: block;
  width: 250px;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  max-height: 155px;
}
.item-info {
  width: calc(100% - 250px);
}
.Item-name {
  font-size: 20px;
  font-weight: 600;
  color: var(--darker-text);
}
.item-seller {
  font-size: 15px;
  font-weight: 500;
  color: var(--lighter-text);
}
.item-quantity .quantityInput {
  width: 40px;
  outline: 0;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.item-quantity .quantityInput [type="number"] {
  -moz-appearance: textfield;
}
.item-quantity .btn {
  padding: 2px 3px;
  background-color: var(--main-color);
}
.item-quantity .btn svg.line {
  stroke: #fff;
  width: 20px;
  height: 20px;
}
.item-price {
  font-size: 28px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.delet-item {
  margin: 0 !important;
}
.delet-item svg.line {
  stroke: #aaa;
  width: 20px;
  height: 20px;
}
.total-price-calcul {
  max-width: 300px;
}
.total-price-calcul ul {
  line-height: 55px;
  font-size: 18px;
  font-weight: 500;
  color: #555;
}
.shipping {
  color: #38b2ac;
  font-size: 20px;
  font-weight: 400;
}
.totalText {
  font-weight: 700;
  color: #313131;
}
/* Form Payment */
.payment-info {
  border: 1px solid #ddd;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 6px;
  padding: 20px 15px;
}
.payment-info .title {
  font-size: 20px;
}
.payment-info .decription {
  color: var(--main-color);
  font-size: 15px;
}
.payment-info .second-title {
  font-size: 18px;
  font-weight: 600;
}
.payment-info .col-form-label {
  color: #323232;
  font-weight: 500;
}
.payment-info form select,
.payment-info form input {
  height: 55px;
  border-radius: 12px;
  font-size: 18px;
}
.payment-info form select::placeholder,
.payment-info form input::placeholder {
  color: #212121;
}
.payment-info #savedCard {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23343a40' stroke='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-size: 19px;
}
.payment-info form .form-label {
  color: #999;
  font-size: 18px;
}
.payment-info .form-control.is-valid,
.payment-info .was-validated .form-control:valid {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 20C4.477 20 0 15.523 0 10C0 4.477 4.477 0 10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20ZM9.003 14L16.073 6.929L14.659 5.515L9.003 11.172L6.174 8.343L4.76 9.757L9.003 14Z" fill="rgb(0 147 201)"/></svg>');
  border-color: #ced4da;
  background-size: 22px;
}
.payment-info .form-control.is-valid:focus,
.payment-info .was-validated .form-control:valid:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.experation input,
.experation span {
  text-align: center;
}
.experation span {
  font-size: 25px;
}
.cvc label a svg.line {
  width: 20px;
  height: 22px;
  stroke: #4f818a;
  vertical-align: top;
}
.submit-payment {
  background-color: var(--main-color);
  color: #fff !important;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  padding: 9px;
  border-radius: 6px;
}
.shopping_cart[aria-expanded="true"] svg > * {
  fill: var(--main-color);
  stroke: var(--main-color);
}
@media (max-width: 991.99px) {
  #collapseCart {
    position: fixed;
    top: 0;
    overflow-y: scroll;
    height: 92vh;
    padding: 0 15px;
  }
}
@media (max-width: 576px) {
  .item-cart th > div {
    flex-direction: column;
  }
  .item-cart th > div > * {
    width: 85%;
    padding: 5px 0;
    margin: 0 auto !important;
  }
  .Item-name {
    font-size: 16px;
  }
  .item-cart td:last-child {
    position: relative;
  }
  .item-cart td:last-child > div {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .item-price {
    font-size: 22px;
  }
  .delet-item {
    position: absolute;
    top: 25px;
    right: 15px;
  }
}

/************ Header product ***************/

/************ Header homepage ***************/

.head_buttons {
  justify-content: end;
}
.head_buttons a {
  margin-right: 15px;
}
.cates_list .ofp {
  width: 100%;
}
.menu_p2 li {
  margin-right: 10px;
}

/************ Header homepage ***************/

/************ Header earning ***************/

.cates_list {
  width: -webkit-fill-available;
}
ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.menu li a {
  font-weight: 500;
  font-size: 18px;
  margin: 0 5px;
  padding: 10px 5px;
  color: var(--darker-text);
  transition: ease 0.2s;
}
ul.menu li:hover a,
.earnings a:hover {
  color: var(--main-color);
}
ul.menu li a.selected {
  color: var(--main-color);
}
.switch_to_buy {
  margin-right: 20px;
}
.switch_to_buy a {
  margin: 0;
  font-weight: 700;
  color: var(--main-color);
  font-size: 20px;
}
.switch_to_buy a:after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  border-radius: 20px;
  position: relative;
  top: 3px;
  background-color: var(--main-color);
  transition: width 0.2s;
}
.switch_to_buy:hover a:after {
  width: 100%;
}
.seller_profile #funds {
  margin-bottom: 0;
  margin-right: 15px;
  font-weight: 600;
}
.seller_profile .profil_pic img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.earnings a {
  font-size: 18px;
  margin-right: 15px;
  font-weight: 500;
  transition: ease 0.2s;
}

/************ Header earning ***************/

/************ Header category ***************/
.menu_p2 {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu_p2 li {
  margin-right: 5px;
}
.menu_p2 li a {
  text-decoration: none;
  color: var(--darker-text-color);
  padding: 4px 7px;
  font-size: 17px;
  font-weight: 500;
}
.menu_p2 li:hover a {
  color: var(--main-color);
}
.head_buttons button {
  padding: 11px 15px;
  border-radius: 8px;
  transition: ease-in-out 0.2s;
}
#log_in {
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
  width: -webkit-fill-available;
  min-width: 100px;
}
#sign_up {
  background-color: var(--main-color);
  color: #fff;
  width: -webkit-fill-available;
  min-width: 110px;
}
.head_buttons #log_in:hover a {
  color: var(--main-color);
}
.head_buttons #sign_up:hover {
  transform: translateY(-3px);
}

/************ Header category ***************/

/************ Header add product ***************/

.product_header {
  height: calc(var(--header-height) - 15px);
  border-bottom: 1px solid #ccc;
}
.nav li.nav-item {
  margin: 0 15px;
}
.nav-link {
  font-size: 19px;
  font-weight: 500;
  color: #383838;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.nav-link:focus,
.nav-link:hover {
  color: var(--main-color);
  background-color: transparent;
}
.save-btn > * {
  color: var(--main-color);
  font-size: 20px;
}
.switch_to_sell p {
  margin: 0;
  font-weight: 700;
  color: var(--main-color);
  font-size: 20px;
  margin-right: 20px;
}
.dws a {
  margin-right: 20px;
}
.head_buttons a svg.svg-c {
  transition: ease-in-out 0.3;
}
.head_buttons a:hover svg.svg-c {
  transform: translateY(-3px);
}
.head_buttons a:hover svg.svg-c * {
  fill: var(--main-color);
  stroke: var(--main-color);
}
.buyer_profile #funds {
  margin-bottom: 0;
  margin-right: 15px;
  font-weight: 500;
}
.buyer_profile .profil_pic img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.messages_container {
  position: relative;
}
.messages_list_toggle.toggled svg.svg-c * {
  stroke: var(--main-color);
  fill: var(--main-color);
}
.messages_list {
  background-color: #fff;
  z-index: 5;
  position: absolute;
  top: 90px;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
  border-radius: 25px;
  overflow: hidden;
  min-width: 370px;
  right: -100%;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.3s;
}
.messages_list.toggled {
  opacity: 1;
  visibility: visible;
  top: 55px;
}
.msg_head {
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
}
.msg_head h5 svg {
  width: 27px;
  height: 27px;
  margin-right: 8px;
  fill: var(--main-color);
  stroke: var(--main-color);
}
.msg_head h5 p {
  margin-bottom: 0;
  font-size: 18px;
  color: var(--main-color);
}
.msg_head button svg.line {
  height: 33px;
  width: 33px;
  stroke-width: 3.5px;
}

.messages_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.msg_img {
  position: relative;
}
.message .msg_img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.offline:after,
.online:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #ccc;
  position: absolute;
  bottom: 5px;
  right: 25px;
}
.online:after {
  background-color: #18c509;
}
.msg_info {
  width: calc(100% - 70px);
}
.msg_info h5 {
  font-size: 18px;
}
.msg_info p {
  font-size: 15px;
  color: var(--lighter-text);
  margin-bottom: 0;
}
.msg_bottom {
  padding: 10px;
  background-color: #fff;
}
.msg_bottom svg.line {
  width: 25px;
  height: 25px;
}
.msg_bottom a {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
}

/************ Header add product ***************/
/************ product ***************/
.grid-product .item {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .grid-product .item {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .grid-product .item {
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .grid-product .item {
    width: 25%;
  }
}
.notFoundIllus svg {
  max-width: 450px;
  height: auto;
  width: 100%;
}

/************ product ***************/
.stars-outer {
  position: relative;
  display: inline-block;
  width: 110px;
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.stars-outer::before {
  content: "";
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMiAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjAwMDcgMTUuNjgxOEw1LjM4OTg0IDE4LjYzMThMNi40NjE2NSAxMi4zODM2TDEuOTE2MiA3Ljk1OTA1TDguMTg4OTMgNy4wNDk5NkwxMC45OTQ0IDEuMzY1NDFMMTMuNzk5OCA3LjA0OTk2TDIwLjA3MjYgNy45NTkwNUwxNS41MjcxIDEyLjM4MzZMMTYuNTk4OSAxOC42MzE4TDExLjAwMDcgMTUuNjgxOFoiIGZpbGw9IiNEN0Q2RDYiIHN0cm9rZT0iI0Q3RDZENiIgc3Ryb2tlLXdpZHRoPSIxLjgxODE4IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==);
  width: 110px;
  height: 20px;
  background-repeat: repeat;
  display: flex;
}
.stars-inner::before {
  content: "";
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMiAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjAwMDcgMTUuNjgxOEw1LjM4OTg0IDE4LjYzMThMNi40NjE2NSAxMi4zODM2TDEuOTE2MiA3Ljk1OTA1TDguMTg4OTMgNy4wNDk5NkwxMC45OTQ0IDEuMzY1NDFMMTMuNzk5OCA3LjA0OTk2TDIwLjA3MjYgNy45NTkwNUwxNS41MjcxIDEyLjM4MzZMMTYuNTk4OSAxOC42MzE4TDExLjAwMDcgMTUuNjgxOFoiIGZpbGw9IiNGQUJGMzUiIHN0cm9rZT0iI0ZBQkYzNSIgc3Ryb2tlLXdpZHRoPSIxLjgxODE4IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==);
  height: 20px;
  background-repeat: repeat;
  display: flex;
}
.select2-container--default .select2-selection--multiple {
  border: 1px solid #ddd;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #efefef;
  border: 1px solid #ddd;
  color: #101010;
}

.form-switch .form-check-input:not(:disabled):checked,
.form-switch .form-check-input:not(:disabled):focus {
  box-shadow: none !important;
}
.form-switch {
  height: 35px;
}
.form-switch .form-check-input {
  /*height: 33px;
  width: 65px !important;*/
}
.form-switch .form-check-input:checked {
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg width='26px' height='26px' viewBox='0 0 26 27' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3ccircle id='path-1' cx='8' cy='8' r='8'%3e%3c/circle%3e%3cfilter x='-40.6%' y='-21.9%' width='168.8%' height='168.8%' filterUnits='objectBoundingBox' id='filter-2'%3e%3cfeOffset dx='-1' dy='2' in='SourceAlpha' result='shadowOffsetOuter1'%3e%3c/feOffset%3e%3cfeGaussianBlur stdDeviation='1.5' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3e%3c/feGaussianBlur%3e%3cfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0' type='matrix' in='shadowBlurOuter1'%3e%3c/feColorMatrix%3e%3c/filter%3e%3c/defs%3e%3cg id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='switches-dot' transform='translate%285.000000, 5.000000%29' fill-rule='nonzero'%3e%3cg id='Oval'%3e%3cuse fill='black' fill-opacity='1' filter='url%28%23filter-2%29' xlink:href='%23path-1'%3e%3c/use%3e%3cuse fill='%23fff' xlink:href='%23path-1'%3e%3c/use%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-color: #0093c9;
  border-color: #0093c9;
}

.codexMultiPreviewImage {
  position: relative;
  margin: 25px auto;
}
.codexMultiPreviewImage div {
  position: relative;
}
.codexMultiPreviewImage img {
  width: 100%;
  box-shadow: 0 0 10px #ccc;
  height: 100%;
  max-height: 140px;
  object-fit: contain;
  object-position: center;
}
.removePic {
  position: absolute;
  right: -8px;
  top: -8px;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
  width: 32px;
  height: 32px;
  text-align: center;
  box-shadow: 0px 1px 20px #ccc;
  border-radius: 50%;
  line-height: 32px;
  cursor: pointer;
  transition: linear 0.3s all;
}
.removePic:hover {
  transform: scale(1.15);
}
.codexMultiPreviewImage p {
  font-size: 15px;
  color: var(--lighter-text);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
}
.product-action {
  position: relative;
  z-index: 9999;
  transition: linear all 0.3s;
}
.product-action:hover {
  transform: translateY(-3px);
}
.shopping_cart .badge {
  background-color: var(--main-color);
  font-weight: 500;
  padding: 3px 5px;
  display: none;
}
.cart_qty,
.cart_price {
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
}
.empty-cart {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 650px;
  margin: auto;
  padding: 50px 0;
}
.empty-cart svg {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 230px;
  height: 230px;
  stroke: #e7e7e7;
  stroke-width: 1.6;
  margin: 15px auto;
}
.empty-cart h6 {
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 30px;
}
.empty-cart p {
  font-size: 17px;
  color: var(--lighter-text);
  margin-bottom: 35px;
}
.empty-cart .btn {
  max-width: 270px;
  margin: auto;
}
.cart-loader.active:after {
  content: "";
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzOCIgaGVpZ2h0PSIzOCIgaWQ9InNlbG9hZGVyIiB2aWV3Qm94PSIwIDAgMzggMzgiIHN0cm9rZT0iIzc3NyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4NCjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEgMSkiIHN0cm9rZS13aWR0aD0iMiI+PGNpcmNsZSBzdHJva2Utb3BhY2l0eT0iLjUiIGN4PSIxOCIgY3k9IjE4IiByPSIxOCIvPjxwYXRoIGQ9Ik0zNiAxOGMwLTkuOTQtOC4wNi0xOC0xOC0xOCI+DQo8YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgZnJvbT0iMCAxOCAxOCIgdG89IjM2MCAxOCAxOCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiLz48L3BhdGg+PC9nPjwvZz48L3N2Zz4=);
  background-size: 90px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.45;
}
